*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a
{
    color: palegreen;
}
html 
{
    scroll-behavior: smooth;
}
body 
{
    background: #000000;
    color: #F4F6FF;
}
#header 
{
    width: 100%;
    height: 100vh;
    background-image: url(allPics/mnew.jpg);
    background-size: cover;
    
    background-position:right;
}

.container
{
    padding: 10px 10%;

}
nav 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.logo
{
    width: 140px;
}
nav ul li 
{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after
{
    content: '';
    width: 0;
    height: 3px;
    background: #FE6244;
    position: absolute;
    left: 0;
    bottom: -6px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
nav ul li a:hover::after
{
    width: 100%;

}
.header-text
{
    margin: 20%;
    font-size: 30px;
}
.header-text h3
{
   
    margin-top: 20px;
    /* color: aqua; */
    font-family: cursive;
}
/* .header-text p
{
   
    margin-top: 20px;
    color: aqua;
} */
.header-text li
{
    color: #ccc;
}
.header-text h3 spain 
{
    color: #00FFF5;
}
.header-text h3 spain1
{
    color: #FE6244;
}

#about 
{
    padding: 80px 0;
    color: #ababab;
}
.row 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.about-col-1 img
{
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
    border-radius: 15px;
}
.about-col-2 
{
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;

}
.sub-title 
{
    font-size: 60px;
    font-weight: 600;
    color: #FFD717;
}
.tab-titles
{
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   
    margin: 20px 0 40px;
}
.tab-links 
{
    
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after 
{
    content: '';
    width: 0;
    height: 3px;
    background: #FE6244;
    position: absolute;
    left: 0;
    bottom: -8px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.tab-links.active-link::after
{
    width: 100%;
}
.tab-contents ul li
{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span
{
    color: #FE6244;
    font-size: 20px;
}
.tab-contents
{
    display: none;

}
.tab-contents.active-tab
{
    display: block;
}


#services 
{
    padding: 30px 0;
}
.services-list 
{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div 
{
    background: #262626;
    padding:40px ;
    font-size: 13px;
    font-weight: 300;
    border-radius: 40px;
    -webkit-transition: background 0.5s,-webkit-transform 0.5s;
    transition: background 0.5s,-webkit-transform 0.5s;
    -o-transition: background 0.5s,transform 0.5s;
    transition: background 0.5s,transform 0.5s;
    transition: background 0.5s,transform 0.5s,-webkit-transform 0.5s;
}
.services-list div i 
{
    font-size: 50px;
    margin-bottom: 30px;

}
.services-list div h2 
{
    font-size: 30px;
    font-weight:500 ;
    margin-bottom: 15px;

}
.services-list div a 
{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover 
{
    background: #FE6244;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);

} 


#protfolio 
{
    padding: 50px 0px;
}
.work-list 
{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work 
{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img 
{
    width: 100%;
    border-radius: 10px;
    display: block;
    -webkit-transition: transform(00.5s), transform(00.5s);
    transition: transform(00.5s), transform(00.5s);
    -o-transition: transform(00.5s), transform(00.5s);
    transition: transform(00.5s);
}
.layer 
{
    width: 100%;
    height: 0%;
    background: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.6)),to(#FE6244));
    background: -o-linear-gradient(rgba(0,0,0,0.6),#FE6244);
    background: linear-gradient(rgba(0,0,0,0.6),#FE6244);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    -webkit-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
}
.layer h3 
{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a 
{
    margin-top: 20px;
    color: #FE6244;
    font-size: 18px;
    -webkit-text-decoration: 60px;
            text-decoration: 60px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img
{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.work:hover .layer 
{
    height: 100%;
}
.btn 
{
    display: block;
    margin: 50px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: 1px solid #FE6244;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;

}
.btn:hover 
{
    background: #FE6244;

}



.contact-left
{
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;

}
.contact-right
{
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
}
.contact-left p
{
    margin-top: 30px;
}
.contact-left p i 
{
    color: #FE6244;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons 
{
    margin-top: 30px;
}
.social-icons a 
{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.social-icons a:hover 
{
    color: #FE6244;
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
}
.btn.btn2 
{
    display: inline-block;
    background: #FE6244;

}
.contact-right form 
{
    width: 100%;

}
form input, form textarea 
{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}
form .btn2 
{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}
.copy-right 
{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copy-right i 
{
    color: #FE6244;
}


nav .fa-solid
{
    display: none;
}

@media only screen and (max-width:600px)
{
    #header 
    {
        background-image: url(image.jpg);

    }
    .header-text 
    {
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h2 
    {
        font-size: 30px;
    }
    nav .fa-solid
    {
        display: block;
        font-size: 25px;
    }
    nav ul 
    {
        background: #FE6244;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }
    nav ul li 
    {
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid 
    {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title 
    {
        font-size: 40px;
    }
    .about-col-1,.about-col-2
    {
        flex-basis: 100%;
    }
    .about-col-1
    {
        margin-bottom: 30px;
    }
    .about-col-2
    {
        font-size: 14px;
    }
    .tab-links 
    {
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left,.contact-right
    {
        flex-basis: 100%;
    }
}